body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: rgb(28, 58, 58);
  font-size:15px;
}

.left {
  width: 20%;
  text-align: center;
}

.right {
  overflow: auto;
  width: 80%;
  background-color: rgb(11, 29, 29);
  height: 100vh;
}

.flow {
  display: flex;
  align-items: center;
  padding: 6px;
  margin: 15px 0px;
}

.title {
  border-left: 5px solid rgb(31, 177, 187);
  padding: 3px 10px;
  margin-bottom: 20px;
}

.main-body {
  padding: 10px 10% 0px 10%;
}

.general {
  margin: 10px;
  width: 50%;
  background-color: #2a3f3f;
  border-radius: 20px;
}


.first {
  width: 20%;
}

.second {
  width: 20%;
}

.third {
  width: 20%;
}

.fourth {
  width: 20%;
}

.claim {
  width: 20%;
}


.myButton {
  display: inline-block;
	border-radius:17px;
	border: none;
	cursor:pointer;
	padding:6px 13px;
	text-decoration:none;
}

.myButton:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.myButton:active {
	position:relative;
	top:1px;
}
